.navigation {
    position: relative;
    height: 100%;
    width: 70px;
    background: #2D244177;
    box-shadow: 10px 0 0 #2C284B;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-left: 10px solid Transparent;
    overflow-x:hidden; 
    transition: width 0.5s;
}

.navigation:hover {
    width: 200px;
}

.navigation ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
}

/* .navigation ul li:hover {
    background: #2C284B;
} */

.navigation ul .active {
    background: #2C284B;
} 

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

.navigation ul .active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: Transparent; 
    border-radius: 50%;
    box-shadow: 15px 15px 0 #2C284B;
}

.navigation ul .active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: Transparent; 
    border-radius: 50%;
    box-shadow: 15px -15px 0 #2C284B;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    top: 15px;
    text-align: center;
    line-height: 70px;
    /* background: #f00; */
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 35px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
} 

@media (max-width: 900px) {
    .navigation ul {
        padding-top: 150px;
    }
}

@media (max-width: 500px) {
    .navigation {
        display: none;
    }
}